@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #030014;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  .scale {
    position: relative;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 50px;
    /* animation-range-start: cover;
    animation-range-end: 700px; */
    z-index: -2;
  }

  @keyframes fade-in {
    from {
      scale: 0.7;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  /* ////////////////////////////////////////////////////////////////////////// */
  .run_text {
    width: 100%;
    animation: runletters 50s linear infinite;
  }

  @keyframes runletters {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(calc(-100% - 1500px));
    }
  }

  .run_text_f {
    max-width: 100%;
    animation: runletters_f 120s linear infinite;
  }

  @keyframes runletters_f {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50%));
    }
  }

  .run_text_b {
    max-width: 100%;
    animation: runletters_b 100s linear infinite;
  }

  @keyframes runletters_b {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc(0%));
    }
  }
  /* ////////////////////////////////////////////////////////////////////// */

  /* /////////////////////////////////////////////////////////////////////// */
  .rotation_sun {
    animation: rotateAndScale 70s linear infinite;
  }

  @keyframes rotateAndScale {
    0% {
      transform: rotate(0deg) scale(0.85);
    }
    100% {
      transform: rotate(360deg) scale(0.85);
    }
  }
/* //////////////////////////////////////////////////////////////////// */
  .container{
    position: relative;
    width: 400px;
    height: 500px;
    padding: 40px 40px 0 40px;
    border-radius:10px;
    z-index: 1111;
    transition: 0.3s;
    transform: perspective(500px);
    transform-style: preserve-3d;
    margin: 0 auto;
  }
  .container:hover{
    padding: 40px;
  }
  .imgbox{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1;
    transform: translateZ(50px);
  }
  .imgC{
    position: absolute;
    height: 150px;
    width: 150px;
    transform: scale(0.9);
    transition: 0.3s ease-in;
    object-fit: cover;
  }
  .object{
    position: absolute;
    height: 220px;
    width: 220px;
    background: radial-gradient(#ff0000, tomato);
    border-radius: 50%;
    top: 10%;
    left: 15%;
    transition: 0.3s ease-in;
  }

  .container:hover .object{
    height: 290px;
    width: 290px;
  }

  .container:hover .imgbox .imgC{
    transform: scale(1);
  }

  .bgtext{
    position: absolute;
    font-size: 6em;
    font-weight: 800;
    top: 50%;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.4;
    color: transparent;
    z-index: -1;
  }
  .title{
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    word-spacing: 2px;
    transition: 0.3s ease;
    transform: translateZ(50px);
  }
  .container:hover .title {
    font-size: 1.8em;
    font-weight: 800;
    color: #fff;
  }

  .buySection{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    overflow: hidden;
    transition: all 0.3s;
    transform: translateZ(50px);
    color: #fff;
  }

  .buySection h2{
   font-size: 1.6em;
   transition: 0.3s;
   transform: translateY(100px);
   color: #fff;
  }
  .buySection .sup{
    font-size: 1.8em;
    font-weight: 300;
 
   }
   .buySection .sp{
    font-size: 0.8em;
    font-weight: 600;
   }
   .buySection .button{
    color: #FDF5E6;
    padding-top: 0.5rem; /* 2*0.25rem = 0.5rem */
    padding-bottom: 0.5rem; /* 2*0.25rem = 0.5rem */
    background-color: blue; /* Замініть на власний колір */
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem; /* 2*0.25rem = 0.5rem */
    transform: translateY(100px);
   }
   .container:hover .buySection {
    margin-top: 25px;
  }
  .container:hover .buySection h2{
    transition-delay: 0.4s;
    transform: translateY(0);
  }
  .container:hover .buySection .button{
    transition-delay: 0.4s;
    transform: translateY(0);
  }

  .imgC , .objblue {
    filter: hue-rotate(230deg);
  }
  
  /*////////////////////////////////////////////////////////////////////////*/
}
