@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #030014;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  .scale {
    position: relative;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 50px;
    /* animation-range-start: cover;
    animation-range-end: 700px; */
    z-index: -2;
  }

  @keyframes fade-in {
    from {
      scale: 0.7;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  /* ////////////////////////////////////////////////////////////////////////// */
  .run_text {
    width: 100%;
    animation: runletters 50s linear infinite;
  }

  @keyframes runletters {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(calc(-100% - 1500px));
    }
  }

  .run_text_f {
    max-width: 100%;
    animation: runletters_f 120s linear infinite;
  }

  @keyframes runletters_f {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-50%));
    }
  }

  .run_text_b {
    max-width: 100%;
    animation: runletters_b 100s linear infinite;
  }

  @keyframes runletters_b {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc(0%));
    }
  }
  /* ////////////////////////////////////////////////////////////////////// */

  /* /////////////////////////////////////////////////////////////////////// */
  .rotation_sun {
    animation: rotateAndScale 70s linear infinite;
  }

  @keyframes rotateAndScale {
    0% {
      transform: rotate(0deg) scale(0.85);
    }
    100% {
      transform: rotate(360deg) scale(0.85);
    }
  }

  .circle {
    background: #9457eb;
    border: 1px solid #50c878;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 15px;
    width: 15px;
  }

  #controls{
    margin: -130px;
    width: 100%;
    height: 50%;
    z-index: 100;
    position: relative;
  }
  #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
  }
  #controls label:hover{
    opacity: 1;
  }
  #slide1:checked
    ~ #controls
    label:nth-child(2)
    #slide1:checked
    ~ #controls
    label:nth-child(3)
    #slide1:checked
    ~ #controls
    label:nth-child(4)
    #slide1:checked
    ~ #controls
    label:nth-child(1) {
    background: url(https://cdn-icons-png.flaticon.com/512/13110/13110964.png)
      no-repeat;
    float: right;
    display: block;
  }

  /*////////////////////////////////////////////////////////////////////////*/
}
