.abs {
  position: absolute;
}

.w-f {
  width: 100%;
}

.h-f {
  height: 100%;
}

.bg-t {
  background-color: transparent;
}

.bg-c {
  background-size: cover;
}

.bg-ce {
  background-position: center;
}

.opacity {
  opacity: 0.85;
}

.w {
  text-align: center;
  background-color: lime;
}

.text-r {
  color: #f56565;
}

.text-5 {
  font-size: 2.5rem; /* Змініть розмір шрифту за потребою */
}

.text-b {
  color: #4299e1;
}

.text-8 {
  font-size: 4rem; /* Змініть розмір шрифту за потребою */
}

.p-5 {
  padding: 1.25rem; /* Змініть відступи за потребою */
}
